name: demo

on: [push, workflow_dispatch] #will be triggered by a push and can be triggered manually


jobs: # my job
  build: 
    runs-on: ubuntu-latest # runner

    steps: # step 
    - name: check out code 
      uses: actions/checkout@v3 # github-hosted action that collects your code
    
    - name: Greeting
      run: |
        echo Hi, welcome to this simple GitHub Actions example!
        echo We'll just be building and pushing a Docker image to DockerHub.
        
    - name: Building docker image 
      uses: mr-smithers-excellent/docker-build-push@v4 # github-hosted action
      with: 
          image: alvathunder/action # name of image
          registry: docker.io # 
          username: ${{ secrets.DOCKER_USERNAME }} # collecting my docker username from stored secrets
          password: ${{ secrets.DOCKER_PASSWORD }} # collecting my docker password from stored secrets
          
    - name: Setting variable
      env:
        MY_NAME: Alva
      run: | 
        echo Hello, $MY_NAME
        echo The image can now be collected from your Dockerhub!
